@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Quicksand:wght@400;700&display=swap');

:root {
  --app-background-color: #F1F1F1;
  --card-bgd-color: #9AC1F0;
  --main-color4: #538cc6;
  --other-color3: #d98cb3;
  --other-color5: #8cb3d9;
}

.home-intro-section {
  margin: 5vh auto;
}

.home-intro-section > h1 {
  text-align: center;
  font-size: 2.5rem;
}

.home-intro-section > p {
  text-align: center;
  margin-top: 1.5vh;
  font-size: 1.5em;
  color: #555;
}

.card-section {
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90vw;
}

.card {
  flex: 1 1 calc(30% - 20px);
  margin: 10px;
  border: solid transparent;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  background-color: var(--card-bgd-color);
}

.card .level {
  background-color: #ddd;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
}

.image-card {
  overflow: hidden;
  background-color: #f0f0f0;
  border-radius: 8px; 
}

.image-card img {
  width: 100%;
  height: auto; 
  display: block;
}

@media (max-width: 768px) {
  .card .level {
    font-size: 0.9rem;
  }
  .card {
    margin: 5px;
  }

  .home-intro-section {
    margin: 2vh auto;
  }

  .home-intro-section > h1 {
    font-size: 1.5rem;
  }
  
  .home-intro-section > p {
    text-align: center;
    margin-top: 1.0vh;
    font-size: 1.0em;
  }

  .card-section {
    margin-top: 30px;
  }
}