@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Quicksand:wght@400;700&display=swap');

:root {
  --app-background-color: #F1F1F1;
  --card-bgd-color: #9AC1F0;
  --main-color4: #538cc6;
  --other-color3: #d98cb3;
  --other-color4: #8cb3d9;
}

.intro-section {
  margin: 5vh auto;
}

.intro-section > h1 {
  text-align: center;
}

.intro-section > p {
  text-align: center;
  margin-top: 1.5vh;
  font-size: large;
}

.card-section {
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90vw;
}

.card {
  flex: 1 1 calc(30% - 20px);
  margin: 10px;
  border: solid transparent;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  background-color: var(--card-bgd-color);
}

.card .level {
  background-color: #ddd;
  color: black;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
}

.image-card {
  overflow: hidden;
  background-color: #f0f0f0;
  border-radius: 8px; 
}

.image-card img {
  width: 100%;
  height: auto; 
  display: block;
}

