@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Quicksand:wght@400;700&display=swap');


:root {
  --app-background-color: #F1F1F1;
  --app-header-color: #9AC1F0;
  --fixed-header-color: #538cc6; 
  --slider-footer-color: #d1daeb;
  --other-color1: #8595A8;
  --other-color2: #FC4444;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  background-color: var(--app-background-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

.header-slider-questionInput {
  position: sticky;
  top: 0;
  background-color: var(--fixed-header-color);
  padding-bottom: 0.01%;
}

.App-header {
  background-color: var(--app-header-color);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.app-logo {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1; 
  padding-left: 10px;
}

.app-logo > img {
  width: 50px;
  height: 50px;
  padding-left: 5px;
  text-align: justify;
}

.app-logo h1, .app-logo a h1 {
  text-decoration: none;
  padding-left: 5px;
  margin: auto 5px;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  color: #333;
}

.nav-bar {
  width: 30%;
  
}

.nav-bar ul {
  display: flex; 
  flex-direction: row;                
  list-style: none;              
  margin: 0;                     
  padding: 0;                   
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
}

.nav-bar > ul > li {
  margin-left: 20px;
}

.nav-bar ul li .nav-item {
  text-decoration: none;         
  color: #333;                   
  font-weight: bold;             
}

.App-footer {
  margin-top: 30px;
  background-color: var(--slider-footer-color);
  padding: 20px;
}

.App-footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  color: black;
}

@media (max-width: 768px) {
  .nav-bar ul {
    flex-direction: column;
  }
  .nav-bar > ul > li {
    margin-right: 0;
    text-align: center;
  }
}