@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Quicksand:wght@400;700&display=swap');

:root {
  --app-background-color: #F1F1F1;
  --app-header-color: #9AC1F0;
  --fixed-header-color: #538cc6; 
  --slider-footer-color: #d1daeb;
  --other-color1: #8595A8;
  --other-color2: #FC4444;
}

.slider-strip {
  background-color: var(--slider-footer-color);
  height: 5vh;
  margin: 1% 0;
  display: flex;
  align-items: center;
  overflow: hidden; 
  white-space: nowrap;
}

.news-bar {
  display: flex;
  background-color: red;
  min-height: 100%;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  z-index: 1;
  padding: 0 1rem;
  border: 0.3rem ridge rgba(211, 220, 50, .6);
}

.news-bar > p {
  font-size: 1.2em;
  margin: auto 0;
  display: inline-block;
  font-weight: bold;
}

.slider-text {
  font-size: 1.2em;
  display: inline-block; 

}

@media (max-width: 768px) {
  .news-bar > p {
    font-size: 0.8em;
    margin: auto 0;
    display: inline-block;
    font-weight: bold;
  }
  .news-bar {
    padding: 0 0.2rem;
  }
  .slider-strip {
    height: 3vh;
  }
}

