@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Quicksand:wght@400;700&display=swap');

.slider-strip {
  background-color: #d1daeb;
  height: 5vh;
  margin: 1% 0;
  display: flex;
  align-items: center;
  overflow: hidden; 
  white-space: nowrap;
}

.news-bar {
  display: flex;
  background-color: red;
  min-height: 100%;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  z-index: 1;
  padding: 0 1rem;
  border: 0.3rem ridge rgba(211, 220, 50, .6);
}

.news-bar > p {
  font-size: 1.2em;
  margin: auto 0;
  display: inline-block;
  font-weight: bold;
}


.slider-text {
  font-size: 1.2em;
  display: inline-block; 

}

